.site__header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 1.1rem;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    @include breakpoint(up, lg) {
        font-size: 1.5rem;
        padding: 2rem;
    }

    .scrolling & {
        background: var(--mainColor);
        top: -100%;
    }

    .scrolling-up & {
        position: fixed;
        top: 0;
    }

    &-logo {
        svg {
            width: 50px;
        }

        span {
            transition: all 0.35s;
        }

        &.small {
            span {
                margin-left: -120px;
                opacity: 0;
            }
        }
    }

    a {
        color: var(--lightColor);
        text-decoration: none;
    }

    &-nav {
        display: flex;
        align-items: center;

        a {
            &:not(:last-of-type) {
                margin-right: 2rem;
            }
        }
    }
}